# Use LLVM style as the base
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4  # Number of spaces for each indentation level
TabWidth: 4      # Number of spaces a tab counts for
UseTab: Never    # Never use tabs for indentation, always use spaces

# Function formatting
AllowShortFunctionsOnASingleLine: None  # Always break function definitions onto multiple lines

# Alignment
AlignConsecutiveAssignments: true  # Align consecutive assignments

# Line length
ColumnLimit: 300  # Maximum line length before wrapping

# Sort Includes
SortIncludes: Never

# Allow one-line control statements and short constructs
AllowShortIfStatementsOnASingleLine: true  # Allow if statements on a single line
AllowShortLoopsOnASingleLine: true         # Allow loops (for, while) on a single line
AllowShortCaseLabelsOnASingleLine: true    # Allow case labels and their statements on a single line
AllowShortEnumsOnASingleLine: true         # Allow short enum definitions on a single line
AllowShortLambdasOnASingleLine: All        # Allow all lambdas on a single line when possible
